doctype html
html
    head
        title="Generators on Lemon"
    body
        h2 Generate a CRUD
        form(method="post", action="/generator/create")
            label
                input(type='checkbox', name='ck_type', value='controller') Controller
            label
                input(type='checkbox', name='ck_type', value='model') Model
            label
                input(type='checkbox', name='ck_type', value='view') View

            p
                input(type='text', name='field_text', placeholder='Field text')
            p
                input(type='text', name='field_type', placeholder='Field type')

            p
                input(type='submit')
