html,body {
	font-size: 14px;
	font-family: "Helvetica", sans-serif;
}

a {
	text-decoration: none;
	color: #cbcbcb;
}
a:hover {
	text-decoration: underline;
}

p.greetings {
	margin: 20px auto;
	width: 50%;
	text-align: center;
	font-size: 2.5em;
}

p.author-line {
	margin: 20px auto;
	width: 50%;
	text-align: center;
	color: #cbcbcb;
}
